[submodule "libs/GraphView"]
	path = libs/GraphView
	url = https://github.com/Lauszus/GraphView.git
[submodule "libs/Android-ViewPagerIndicator"]
	path = libs/Android-ViewPagerIndicator
	url = https://github.com/Lauszus/Android-ViewPagerIndicator.git
