<!doctype html>
<html>
<head>
  <link rel="shortcut icon" type='image/x-icon' href="images/favicon.ico" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Balanduino - {{ page.title }}</title>

  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <script src="javascripts/scale.fix.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <a href="https://github.com/TKJElectronics"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://www.tkjelectronics.dk/images/forkus_github.png" alt="Fork us on GitHub"></a>

  <div class="wrapper">
    <header>
      <h1>Balanduino Android App</h1>
      <p>Remote control app for Balanduino</p>
      <p class="view"><a href="https://github.com/TKJElectronics/BalanduinoAndroidApp">View the Project on GitHub <small>TKJElectronics/BalanduinoAndroidApp</small></a></p>
      <ul>
        <li><a href="https://github.com/TKJElectronics/BalanduinoAndroidApp/zipball/master">Download <strong>ZIP File</strong></a></li>
        <li><a href="https://github.com/TKJElectronics/BalanduinoAndroidApp/tarball/master">Download <strong>TAR Ball</strong></a></li>
        <li><a href="https://github.com/TKJElectronics/BalanduinoAndroidApp">View On <strong>GitHub</strong></a></li>
      </ul>
    </header>
    {{content}}
  </div>
  <footer>
    <p>Project maintained by <a href="http://tkjelectronics.com/">TKJ Electronics</a></p>
    <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
  </footer>
  <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-25655064-6");
    pageTracker._trackPageview();
  } catch(err) {}
  </script>
</body>
</html>